@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@400;500;600;700&family=Merriweather:wght@300;400;700;900&family=Poppins:wght@300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Alkatra', cursive;
    overflow: hidden;
}

:root{
    --dark-pink: rgba(0, 247, 255, 0.849);
}
.login-box-container{
    width: 100vw;
    height: 100vh;
    /* background: #000; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background:linear-gradient(to right, rgba(0, 41, 94, 0.849) 25%, rgba(27, 1, 1, 0) 90%),url("../src/images/bg2.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    gap: 90px;
}

.login-box{
    height: 700px;
    width: 660px;
    /* margin-left: 200px; */
    background: rgba(255, 255, 255, 0.151);
    display: flex;
    padding: 30px;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    border: 4px solid var(--dark-pink);
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.555);
    gap: 30px;
}

.avatar{
    /* background-color: red; */
    width: 170px;
    height: 170px;
    border-radius: 50%;
    padding: 1px;
    border: 3px solid var(--dark-pink);
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.555);
    object-fit: contain;
}

.avatar img{
    width: 100%;
    height: 100%;
    
}

.title{
    text-align: center;
    font-size: 40px;
    color: white;
    text-shadow: 0px 2px 3px rgb(0, 0, 0);
    letter-spacing: 1px;
}

.bottom{
    width: 100%;
    height: 100%;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 35px 20px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border: 4px solid var(--dark-pink);
    background-color: rgba(255, 255, 255, 0.616);
    gap: 15px;
    /* border-top: 0px; */
}

.form-group{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 80%;
}

input{
    border: none;
    outline: none;
    height: 47px;
    border-radius: 5px;
    padding: 2px;
    padding-left: 10px;
    font-size: 16px;
}

.submit{
    padding: 8px;
    width: 80%;
    border: none;
    outline: none;
    border-radius: 8px;
    font-size: 16px;
    background-color: var(--dark-pink);
    transition: all 0.2s ease-in-out;
}

.submit:hover,.submit:focus{
    background-color: rgb(0, 255, 234);
}


.navbar-container{
    display: flex;
    width: 100%;
  position: fixed;
    justify-content: space-around;
    background-color: cyan;
    padding: 20px 0px;
    
}


.links{
    display: flex;
    gap: 80px;
}

.home{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    gap: 200px;
    background-color: rgb(68, 0, 255);
    
}

.one,.two{
    height: 200px;
    width: 300px;
    background-color:aqua;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: black;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.one:hover,
.two:hover{
    background-color: rgb(0, 170, 182);
    text-decoration: none;
    border-radius: 10px;
}

.links{
    text-decoration: none;
}

.tts,.stt{
    text-decoration: none;
    font-size: 18px;
    color: black;
    transition: all 0.2s ease-in-out;
    
}

.tts::before{
content:"";
position: absolute;
display: inline-block;
bottom:3px;
left:0px;
width: 100%;
height: 5px;
background-color: rgb(0, 14, 212);
border-radius: 10px;
height: 6px;
display: none;
transition: all 0.2s ease-in-out;
}

.stt:before{
    content: "";
    position: absolute;
    display: inline-block;
    bottom: 3px;
    left: 0px;
    width: 100%;
    height: 5px;
    background-color: rgb(0, 14, 212);
    border-radius: 10px;
    height: 6px;
    transition: all 0.2s ease-in-out;
    display: none;
    transition: all 0.2s ease-in-out;
}


.tts:hover::before{
    display: block;
}

.stt:hover::before{
    display: block;
}

.tts{
    position: relative;
}

.stt{
    position: relative;
}


.first{
    height: 100vh;
    width: 100vw;
    background-color: rgb(0, 14, 212);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.first>button{
    padding: 10px;
    width: 160px;
    border-radius: 10px;
    background-color: cyan;
    font-size: 16px;
    cursor: pointer;
}

.first>button:hover{
    background-color: rgb(3, 165, 165);
}

.first>h1{
    color: white;
    letter-spacing: 1px;
    font-size: 40px;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.575);
}

.second{
    height: 100vh;
    width: 100vw;
    background-color: rgb(0, 14, 212);
    display: flex;
    align-items: center;
    justify-content: center;
}

.second-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
}

.text{
    resize: none;
}

textarea{
    resize: none;
    border: none;
    outline: none;
    padding : 10px;
    font-size: 18px;
    border: 4px solid cyan;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.575);
}

.logolink{
    text-decoration: none;
    color: black;
}

.label{
    font-size: 30px;
    color: white;
    letter-spacing: 1px;
}

.buttons{
    display: flex;
    gap: 30px;
}

.btn-1, .btn-2, .btn-3{
    border: none;
    outline: none;
    width: 120px;
    height: 50px;
    border-radius: 5px;
    font-size: 18px;
    background: cyan;
    transition: all 0.2s ease-in-out;
}

.btn-1:hover,
.btn-2:hover,
.btn-3:hover{
   background-color: rgb(0, 163, 163); 
}

.text-container{
height: 300px;
width: 800px;
background-color: white;
border: 3px solid cyan;
padding: 10px;
font-size: 18px;
text-align: justify;
}

/* --------------------------------------------- */

@media (max-width:360px) {

    .login-box {
        width: 300px;
        height: 500px;
        padding: 10px;
        gap: 20px;
    }

    .login-box-container {
        gap: 40px;
    }

    .avatar {
        height: 150px;
        width: 150px;
    }

    .title {
        font-size: 28px;
    }

    .bottom {
        padding: 15px 6px;
        gap: 10px;
}

.form-group {
gap: 6px;
width: 90%;
}

input {
font-size: 14px;
height: 40px;
}

.submit {
padding: 7px;
width: 90%;
}

.logo {
display: none;
}

.one,
.two {
height: 100px;
width: 150px;
border-radius: 10px;
}

.first>h1{
font-size: 26px;
padding-top: 30px;
}

.first{
gap: 20px;
}

.text{
font-size: 14px;
padding: 8px;
width: 300px;
height: 360px;
}

.label{
font-size: 24px;
}

.second-container{
gap: 15px;
}

.text-container{
font-size: 14px;
padding: 8px;
width: 300px;
height: 320px;
}

.buttons{
gap: 10px;
}
  
.btn-1,.btn-2,.btn-3{
    width: 60px;
    height: 40px;
}

.lab{
    text-align: center;
    padding-top: 20px;
}


}

/* --------------------------------------------- */

@media (max-width:600px){

    .login-box {
        width: 500px;
        height: 650px;
        padding: 10px;
        gap: 20px;
    }

    .login-box-container {
        gap: 40px;
    }

    .avatar {
        height: 150px;
        width: 150px;
    }

    .title {
        font-size: 28px;
        margin-top: 10px;
    }

    .bottom {
        padding: 15px 6px;
        gap: 10px;
    }

    .form-group {
        gap: 6px;
        width: 90%;
    }

    input {
        font-size: 14px;
        height: 45px;
    }

    .submit {
        padding: 7px;
        margin-top: 20px;
        width: 90%;
    }

    .logo {
        display: none;
    }

    .one,
    .two {
        height: 120px;
        width: 220px;
        border-radius: 10px;
    }

    .first>h1 {
        font-size: 26px;
        padding-top: 30px;
    }

    .first {
        gap: 25px;
    }

    .text {
        font-size: 16px;
        padding: 8px;
        width: 500px;
        height: 360px;
    }

    .label {
        font-size: 24px;
    }

    .second-container {
        gap: 18px;
    }

    .text-container {
        font-size: 16px;
        padding: 8px;
        width: 500px;
        height: 320px;
    }

    .buttons {
        gap: 28px;
    }

    .btn-1,
    .btn-2,
    .btn-3 {
        width: 80px;
        height: 40px;
    }

    .lab {
        text-align: center;
        padding-top: 20px;
    }


}

